<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/css/mainmenu.css">
<link rel="stylesheet" href="/css/global.css">
	<title>main menu</title>
</head>
<body>
<h1>Sky Bois</h1>
<img src="/images/bois.png" width="50px" />	
  <div class="vertical-menu">
  <a href="#" class="active">1. Fly with the bois!</a>
  <a href="#">2. Learn more about the bois!</a>
  <a href="#">3. Top Ten Bois!!</a>
  <a href="#">4. Turn Sound (Off / On)</a>
</div>

<script src="js/mainmenu.js"></script>
<script src="js/global.js"></script>
</body>
</html>
