<!DOCTYPE html>
<html>
<head>
<script src="topten.js"></script>
<script src="global.js"></script>
<link rel="stylesheet" href="/css/setup.css">
<link rel="stylesheet" href="/css/global.css">
	<title>setup</title>
</head>
<body>
	<img src="/images/dive.png"  class="center" width="500" />.
	
	<div class="vertical-menu">
	<a href="#">Be a banker from Boston</a>
	<a href="#">Be a carpenter from Ohio</a>
	<a href="#">Be a farmer from Illinois</a>
	<a href="#">Find out the differences between the choices</a>
	</div>
	
</body>
</html>