<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/css/topten.css">
<link rel="stylesheet" href="/css/global.css">
	<title>top ten</title>
</head>
<body>
	<img src="/images/bois.png" class="center" width="250" height="250"/>.
	

<table style="width: 100%;" border = "1" cellpadding = "15">
	<tbody>
	 <tr>
    <th><p>Name</p></th>
    <th><p>Score</p></th> 
    <th><p>Date</p></th>
 	 </tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
	</tbody>
</table>

<script src="js/topten.js"></script>
<script src="js/global.js"></script>
</body>
</html>