<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/css/trail.css">
<link rel="stylesheet" href="/css/global.css">
	<title>flight</title>
</head>
<body>
	<h1>Fly with the bois!</h1>
	
	
	<table style="width: 100%;" border = "1" cellpadding = "0">
	<th><img src="/images/start.jpg" width="700px"/></th>
	</table>
	
	<table style="width: 100%;" border = "1" cellpadding = "15">	
  <tr>
    <th><p>Days on flight</p></th>
    <th><p>Miles traveled</p></th>
    <th><p>Party health status</p></th>
    <th><p>Current weather</p></th>
    <th><p>Current pace</p></th>
    <th><p>Current Terrain</p></th>
    <th><p># of party members alive</p></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<script src="js/trail.js"></script>
<script src="js/global.js"></script>
</body>
</html>
