body, html
{
	height: 100%;
	background-image: url("/images/sky.jpg");
}

h1 
{
  color: blue;
  font-family: arial;
  font-size: 200%;
  text-align:center
 
}

.blinking
{
	animation:blinkingText 1.0s infinite;
}
@keyframes blinkingText{
	0%{		color: transparent;	}
	49%{	color: red;	}
	50%{	color: red;	}
	99%{	color: transparent;	}
	100%{	color: transparent;	}
}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

