
h1 
{
  color: blue;
  font-family: arial;
  font-size: 1200%;
  text-align:left
}

.vertical-menu
{
  width: 300px;
  font-family: arial;
}

.vertical-menu a
{
  background-color: yellow;
  font-family: arial; 
  color: green; 
  display: block;
  padding: 20px;
  text-decoration: none;
}


.vertical-menu a.active
{
  background-color: yellow; 
  color: blue;
}