body, html
{
	height: 100%;
	background-color: blue;
}
h1 
{
  color: yellow;
  font-family: arial;
  font-size: 300%;
   text-align:center

}
p 
{
  color: yellow;
  font-family: arial;
  font-size: 100%;
}
img
{

  margin-left: auto;
  margin-right: auto;
}